<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QnA</title>
    <link rel="shortcut icon" href="../static/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div id="container">
      <div id="QuestionHead">
        <h2 id="Question" style="text-align: center"></h2>
      </div>
      <div class="options">
        <div id="1" class="option">
          <input type="radio" name="option" id="option1" value="a" />
          <label class="optionN" for="option1"></label>
        </div>
        <div id="2" class="option">
          <input type="radio" name="option" id="option2" value="b" />
          <label class="optionN" for="option2"></label>
        </div>
        <div id="3" class="option">
          <input type="radio" name="option" id="option3" value="c" />
          <label class="optionN" for="option3"></label>
        </div>
        <div id="4" class="option">
          <input type="radio" name="option" id="option4" value="d" />
          <label class="optionN" for="option4"></label>
        </div>
      </div>
      <div id="checkanswer">Check answer</div>
    </div>
    <script src="../static/app.js"></script>
  </body>
</html>
