<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result Page | Marks</title>
    <link rel="shortcut icon" href="../static/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="correct"><%= receivedMarks %></div>
      <div class="slash">/</div>
      <div class="totalQuestion">10</div>
    </div>

    <div class="listOfQuestion">
      <table>
        <tr>
          <th>Question</th>
          <th>Your Answer</th>
          <th>Correct Ans</th>
        </tr>
        <tr>
          <td id="Que">Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
      </table>
    </div>
    <script type="module" src="../static/result.js"></script>
  </body>
</html>
